.App {
  text-align: center;
  font-family: Arial, sans-serif;
 
 
}

.timer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.session, .break {
  flex: 1;
}

.session-buttons, .break-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-buttons button, .break-buttons button {
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.session-length, .break-length {
  font-size: 1.5em;
}

.timer-display {
  margin-bottom: 20px;
}

.time {
  font-size: 3em;
}

.controls button {
  font-size: 1.2em;
  padding: 5px 20px;
  margin: 0 10px;
  cursor: pointer;
}
